ACCESS_TOKEN_UPDATE_TIME = 86400
GITHUB_SCOPES = 'user,repo'
GITHUB_CLIENT_ID = ''
GITHUB_CLIENT_SECRET = ''
SECRET_KEY = ''
MONGO_ADDR = 'localhost'
STORAGE_ADDR = 'localhost'
STORAGE_PORT = 8080
PORT = 80
