{% raw %}
<li data-type="script" data-id="{{id}}">
	<span class="glyphicon glyphicon-file"></span> {{id}}
	<button type="button" class="btn btn-link btn-xs" data-action="delete" data-toggle="tooltip" data-placement="bottom" title="Delete">
		<span class="glyphicon glyphicon-trash"></span>
	</button>
	<button type="button" class="btn btn-link btn-xs" data-action="duplicate" data-toggle="tooltip" data-placement="bottom" title="Duplicate">
		<span class="glyphicon glyphicon-duplicate"></span>
	</button>
	<button type="button" class="btn btn-link btn-xs" data-action="edit" data-toggle="tooltip" data-placement="bottom" title="Edit">
		<span class="glyphicon glyphicon-pencil"></span>
	</button>
</li>
{% endraw %}