<!doctype html>
<html lang="en">
<head>
	<title>FYP</title>
	<link href="{{url_for('static', filename='lib/css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='web/style.css')}}" rel="stylesheet">
</head>
<body>
	{% set page=page %}
	{% include 'web/nav.html' %}

	<div class="container">
		{% block content %}{% endblock %}
	</div>
	<br />
	<br />
	<br />
	<div class="container text-center">
		<hr />
		<small>Declan Curran - Final Year Project - DIT 2015</small>
	</div>
	<br />

	<script src="{{url_for('static', filename='lib/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='lib/bootstrap.min.js')}}"></script>
	{% block scripts %}{% endblock %}
</body>
</html>
