{% set page='dashboard' %}
{% extends 'web/base.html' %}
{% block content %}
	<div class="notifications">
		{% if request.args.alert %}
			<div class="alert alert-{{request.args.alert_type}}">
				{% if request.args.alert_type == 'danger' %}
				<span class="glyphicon glyphicon-remove"></span>
				{% elif request.args.alert_type == 'success' %}
				<span class="glyphicon glyphicon-ok"></span>
				{% endif %}
				{{request.args.alert}}
			</div>
		{% endif %}
	</div>
	<div class="page-header">
		<h1 class="inline">Dashboard - Your projects</h1>
		<a class="btn btn-sm btn-primary" id="clonerepo">
			<span class="glyphicon glyphicon-duplicate"></span>
			Clone From GitHub
		</a>
		<a class="btn btn-sm btn-primary" id="initrepo">
			<span class="glyphicon glyphicon-plus"></span>
			Create New Repo
		</a>
	</div>

	<div class="container">
		{% for repo in repos %}
		<div class="panel panel-default project">
			<div class="panel-heading">
				<h1>{{repo}}</h1>
				<button type="button" class="btn btn-sm btn-danger deletebutton" data-repo="{{repo}}"><span class="glyphicon glyphicon-remove"></span> Delete</button>
				<a class="btn btn-sm btn-primary" target="_blank" href="/game/{{session['user_info']['login']}}/{{repo}}"><span class="glyphicon glyphicon-play-circle"></span> Play</a>
				<a class="btn btn-sm btn-primary" target="_blank" href="/editor/{{repo}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
				<a class="btn btn-sm btn-success" href="#"><span class="glyphicon glyphicon-ok"></span> Publish</a>
			</div>

			<div class="panel-body">
				<small>Status:</small>
				{% if status[repo] %}
				<span class="label label-danger">Changes not committed.</span>
				{% else %}
				<span class="label label-default">All changes committed.</span>
				{% endif %}
				
				<span class="label label-{% if repos[repo] > 0 %}primary{% else %}default{% endif%}">{{repos[repo]}} commit{% if repos[repo] != 1 %}s{% endif %} ahead of GitHub</span>

				<a href="/dashboard/pull/{{repo}}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-save"></span> Pull</a>
				<a href="/dashboard/push/{{repo}}" class="btn btn-xs btn-default{% if repos[repo] == 0 %} disabled{% endif %}"><span class="glyphicon glyphicon-open"></span> Push</a>
				<button data-repo="{{repo}}" class="btn btn-xs btn-default commitbutton"{% if not status[repo] %} disabled{% endif %}><span class="glyphicon glyphicon-saved"></span> Commit</button>
			</div>
		</div>
		{% endfor %}
	</div>

	<div id="initmodal" class="modal fade">
		<div class="modal-dialog modal-content">
			<div class="modal-header">
				<h3>
					Create New Repository
				</h3>
			</div>
			<div class="modal-body">
				Repository name:<br />
				<input type="text" class="form-control">
				<span class="label label-danger" id="repoexists">Repository already exists</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default cancelbutton">Cancel</button>
				<button type="button" class="btn btn-primary okaybutton">Okay</button>
			</div>
		</div>
	</div>

	<div id="commitmodal" class="modal fade">
		<div class="modal-dialog modal-content">
			<div class="modal-header">
				<h3>Commit Changes to Repository</h3>
			</div>
			<form method="post" action="/dashboard/commit/">
				<div class="modal-body">
					<h4>Commit message:</h4>
					<textarea name="message" class="form-control"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default cancelbutton">Cancel</button>
					<button type="button" class="btn btn-primary okaybutton">Okay</button>
				</div>
			</form>
		</div>
	</div>

	<div id="deletemodal" class="modal fade">
		<div class="modal-dialog modal-content">
			<div class="modal-header">
				<h3>Delete repo <span id="deletereponame"></span>?</h3>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default cancelbutton">Cancel</button>
				<button type="button"  class="btn btn-danger okaybutton">Okay</button>
			</div>
		</div>
	</div>

	<div id="clonemodal" class="modal fade">
		<div class="modal-dialog modal-content">
			<div class="modal-header">
				<h3>
					Clone From GitHub
				</h3>
			</div>
			<div class="modal-body">
				<ul class="list-group">
				{% for repo in session['user_repos'] %}
					{% if repo not in repos %}
					<li class="list-group-item">
						<a href="https://github.com/{{session['user_info']['login']}}/{{repo}}">{{repo}}</a>
						<a href="/dashboard/clone/{{repo}}" class="btn btn-primary btn-sm">Clone</a></li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script>
		var repos = [
			{% for r in repos %}
			'{{r}}',
			{% endfor %}
		];
		var github_repos = [
			{% for r in session['user_repos'] %}
			'{{r}}',
			{% endfor %}
		];

		// Setup new repo modal
		$('#repoexists').toggle(false);
		$('.btn.cancelbutton').click(function() {
			$('#initmodal').modal('hide');
			$('#commitmodal').modal('hide');
			$('#deletemodal').modal('hide');
		});
		$('#initmodal .btn.okaybutton').click(function() {
			var name = $('#initmodal input').val().trim();
			$('#initmodal').modal('hide');
			if (name !== ''){
				window.location.href = '/dashboard/init/' + name;
			}
		});
		$('#initmodal input').on('input', function() {
			if (repos.indexOf($(this).val()) != -1 ||
					github_repos.indexOf($(this).val()) != -1) {
				$('#repoexists').toggle(true);
			}
			else {
				$('#repoexists').toggle(false);
			}
		});
		$('#initrepo').click(function() {
			$('#initmodal input').val('');
			$('#initmodal').modal('show');
			$('#initmodal input').focus();
		});

		// Setup delete repo modal
		$('.deletebutton').click(function() {
			var reponame = $(this).data('repo');
			$('#deletereponame').text(reponame);
			$('#deletemodal').modal('show');

			$('#deletemodal .okaybutton').unbind();
			$('#deletemodal .okaybutton').click(function() {
				$('#deletemodal').modal('hide');
				window.location.href = '/dashboard/delete/' + reponame;
			});
		});

		// Setup commit modal
		$('.commitbutton').click(function() {
			var repo = $(this).data('repo');

			$('#commitmodal textarea').val('');
			$('#commitmodal').modal('show');
			$('#commitmodal form').attr('action',
				'/dashboard/commit/' + repo
			);
			$('#commitmodal .okaybutton').unbind();
			$('#commitmodal .okaybutton').click(function(e) {
				$('#commitmodal').modal('hide');

				if ($('#commitmodal textarea').val().trim() !== '') {
					$('#commitmodal form').submit();
				}
			});
		});

		// Setup clone repo modal
		$('#clonerepo .btn').click(function() {
			$('#clonemodal').modal('hide');
		});
		$('#clonerepo').click(function() {
			$('#clonemodal').modal('show');
		});
	</script>
{% endblock %}