{% set page='Home' %}
{% extends 'web/base.html' %}
{% block content %}
	<div class="jumbotron">
		<img src="http://i.imgur.com/6xKhSxZ.png" class="img-responsive" /><br />
		Stratus is a browser-based Unity-like game engine and editor designed to provide hobbyist game developers with the ability to <strong>create</strong>, <strong>publish</strong> and <strong>play</strong> games all <u>inside their browser</u>. Games can be created easily using the built-in editor by adding entities and components to a scene. JavaScript can be used to create new components with the Three.js and Ammo.js(Bullet physics) libraries.
		<br />
		<br />
		Please fill in the <a href="http://goo.gl/forms/48rVLeKrXE">user survey</a> when you can.
	</div>
	<div class="page-header">
		<h1>Published Games <small>Latest</small></h1>
	</div>

	<div class="container">
		{% for game in latest %}
		<div class="panel panel-default project">
			<div class="panel-heading">
			<h1>{{game.repo}} <small>by {{game.author}}</small></h1>
			<a class="btn btn-sm btn-primary" target="_blank" href="/game/{{game.author}}/{{game.repo}}"><span class="glyphicon glyphicon-play-circle"></span> Play</a>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}
