{% set page='projects' %}
{% extends 'web/base.html' %}
{% block content %}
	<div class="page-header">
		<h1>Your Projects</h1>
		<button class="btn btn-default">Create New Repo
		</button>
		<button class="btn btn-default">Clone Existing Repo
		</button>
	</div>

	<div class="container">
		<div class="gameicon">
			<img src="http://i.imgur.com/9JMCkF1.png" />
			<br />
			Car game 1
		</div>
		<div class="gameicon">
			<img src="http://i.imgur.com/9JMCkF1.png" />
			<br />
			Car game 2
		</div>
		<div class="gameicon">
			<img src="http://i.imgur.com/9JMCkF1.png" />
			<br />
			Car game 3
		</div>
		<div class="gameicon">
			<img src="http://i.imgur.com/9JMCkF1.png" />
			<br />
			Car game 4
		</div>
		<div class="gameicon">
			<img src="http://i.imgur.com/9JMCkF1.png" />
			<br />
			Car game 5
		</div>
	</div>
{% endblock %}