body, html {
	margin: 0; 
	padding: 0;
	overflow: hidden; 
	line-height: 0px;
}

#sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	bottom: 0;
	border-right: 1px solid lightgray;
	overflow: auto;
}

#main {
	position: absolute;
	left: 20%;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

#properties {
	position: relative;
	width: 25%;
	height: 100%;
	float: right;

	padding: 6px;
	border-left: 1px solid lightgray;
	overflow: auto;
}

#main .tab-content {
	height: calc(100% - 26px);
}

.tab-pane {
	position: relative;
	height: 100%;
}

#settings {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 2px;
	margin-right: 2px;
}

li[role=presentation] { 
	height: 26px; 
	line-height: 26px !important; 
}
li[role=presentation].error > a { 
	color: red !important;
}

li[role=presentation] a > .closebutton { 
	display: none !important;
}

li[role=presentation].active a > .closebutton { 
	display: inline-block !important;
}

a[role=tab] { 
	height: 26px; 
	line-height: 26px !important; 
	padding: 6px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

a[role=tab]:hover {
	cursor: pointer;
}

#sceneEditor {
	position: absolute;
	top: 0;
	width: 75%;
	left: 0;
	bottom: 0;
}

#sceneEditor > canvas {
	float: right;
	position: relative !important;
	top: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	left: 0 !important;
}

#texteditor {
	width: 100%;
	height: 100%;
}

/* Lists */
ul.expl li {
	display: block;
	border-top: 1px solid #eee;
	min-height: 23px;
	line-height: 23px;

	color: #222;
	background-color: #fff;
}

ul.expl li:hover {
	cursor: pointer;
}

ul.expl li span {
	text-indent: 0px;
}

ul.expl li.selected {
	background-color: #46c !important;
	color: white !important;
}

ul.expl li.selected > button {
	color: #ccf;
}

ul.expl li.selected > button:hover {
	color: #eef;
}

ul.expl .actions {
	height: 23px;
	line-height: 23px;
	display: none !important;
	float: right;
}

ul.expl li.selected > .actions {
	display: block !important;
	float: right;
}

ul.expl {
	padding-left: 0px !important;
}

ul.expl:first-child > li:first-child {
	border-top: 0px;
}

ul.expl > li:last-child {
	border-bottom: 0px;
}

/* Scene Explorer */

.exp_scene {
	text-indent: 4px;
}

.exp_entity {
	text-indent: 12px;
}

.exp_component {
	text-indent: 41px;
}

/* Component properties */

.properties_component.well {
	margin-top: 0px;
	margin-bottom: 6px;
	padding: 4px;
}

.properties_component label {
	margin-bottom: 0;
}

.properties_component .form-group {
	border-top: 1px solid #d8d8d8;
	padding-top: 2px;
	margin-bottom: 4px;
}

.properties_component h4 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.properties_component h4 span {
	padding: 4px;
}

.properties_component input[type="checkbox"] {
	float: right;
	display: inline-block;
	width: 16px;
	height: 16px;
}

.properties_component input[type="range"] {
	height: 16px;
	padding: 0;
}

.properties_component input[type="text"] {
	height: 24px;
	padding: 4px;
}

.properties_component select {
	padding: 0px;
	height: 24px;
}

.properties_header {
	font-size: 14px;
	font-weight: bold;
	padding: 1px;
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 4px;
}

/* Components list */
#components ul.expl li {
	padding-left: 8px;
}

