<!doctype html>
<html>
<head>
	<title>Editor</title>
	<link href="{{url_for('static', filename='editor.css')}}" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div id="sidebar">
		<div role="tabpanel">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a data-target="#explorer" aria-controls="explorer" role="tab" data-toggle="tab">Explorer</a>
				</li>
				<li role="presentation">
					<a data-target="#components" aria-controls="components" role="tab" data-toggle="tab">Components</a>
				</li>
			</ul>
		</div>

		<div class="tab-content">
			<div role="tabpanel" class="relative tab-pane active" id="explorer">

			</div>
			<div role="tabpanel" class="relative tab-pane" id="components">

			</div>
		</div>
	</div>
	<div id="main">
		<div role="tabpanel">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a data-target="#sceneEditorPanel" aria-controls="sceneEditorPanel" role="tab" data-toggle="tab">Scene Editor</a>
				</li>
				<li role="presentation">
					<a data-target="#phys" aria-controls="phys" role="tab" data-toggle="tab">Script: phys.js</a>
				</li>
			</ul>
		</div>

		<div class="tab-content">
			<div role="tabpanel" class="relative tab-pane active" id="sceneEditorPanel">
				<div id="sceneEditor">
				</div>
				<div class="properties">
					Component settings
				</div>
			</div>
			<div role="tabpanel" class="relative tab-pane" id="phys">
				<div id="texteditor">some text</div>
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="{{url_for('static', filename='lib/ace/ace.js')}}"></script>
	<script src="{{url_for('static', filename='editor.js')}}"></script>

	{% include 'engine.html' %}
	{% for com in components %}
		<script>
			{{com|safe}}
		</script>
	{% endfor %}
	<script type="application/json" id="gamedata">
		{{gamedata|safe}}
	</script>
	<script type="application/json" id="treedata">
		{{tree|safe}}
	</script>

	<script type="text/html" id="explorer_template">
		{% raw %}
		<ul>
			{{#each scenes}}
			<li class="explorer_item exp_scene" data-type="scene" data-id="{{@key}}">
				<button type="button" class="btn btn-link btn-xs listtoggle"><span class="glyphicon glyphicon-folder-open"></span></button>
				<span class="glyphicon glyphicon-picture"></span>
				{{@key}}
				<ul>
					{{#each this.entities}}
					<li class="explorer_item exp_entity" data-type="entity" data-scene="{{@../key}}" data-id="{{@key}}">
						<button type="button" class="btn btn-link btn-xs listtoggle"><span class="glyphicon glyphicon-folder-close"></span></button>
						<span class="glyphicon glyphicon-tree-deciduous"></span>
						{{@key}}
						<ul style="display:none;">
							{{#each this}}
							<li class="explorer_item exp_component" data-type="component" data-scene="{{@../../key}}" data-entity="{{@../key}}" data-id="{{@key}}">
								<span class="glyphicon glyphicon-file"></span>
								{{@key}}
							</li>
							{{/each}}
						</ul>
					</li>
					{{/each}}
				</ul>
			</li>
			{{/each}}
		</ul>
		{% endraw %}
	</script>
	
	<script>
	    var texteditor = ace.edit("texteditor");
	    //texteditor.setTheme("ace/theme/monokai");
		texteditor.getSession().setMode("ace/mode/javascript");

	    Editor.init();

		var json;
		try {
			json = JSON.parse(
				document.getElementById("gamedata").innerHTML
				);
		}
		catch (e) {
			console.log(e);
			console.log('Game data is corrupt');
		}

	    Editor.load(json);
	    Editor.start();
	</script>
</body>