<!doctype html>
<html>
<head>
	<title>Editor</title>
	<link href="{{url_for('static', filename='editor.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='lib/css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body>
	<div id="sidebar">
		<div role="tabpanel">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a data-target="#explorer" aria-controls="explorer" role="tab" data-toggle="tab">
						Explorer
						<button type="button" class="btn btn-link btn-xs actions">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</a>
				</li>
				<li role="presentation">
					<a data-target="#components" aria-controls="components" role="tab" data-toggle="tab">
						Components
						<button type="button" class="btn btn-link btn-xs actions">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</a>
				</li>
			</ul>
			<div id="settings">
				<button type="button" class="btn btn-link btn-xs listtoggle"><span class="glyphicon glyphicon-cog"></span></button>
			</div>
		</div>

		<div class="tab-content">
			<div role="tabpanel" class="relative tab-pane active" id="explorer"></div>
			<div role="tabpanel" class="relative tab-pane" id="components"></div>
		</div>
	</div>
	<div id="main">
		<div role="tabpanel">
			<ul class="nav nav-tabs" id="tablist" role="tablist">
				<li role="presentation" class="active">
					<a data-target="#sceneEditorPanel" aria-controls="sceneEditorPanel" role="tab" data-toggle="tab">Scene Editor</a>
				</li>
			</ul>
		</div>

		<div class="tab-content" id="tabpanels">
			<div role="tabpanel" class="relative tab-pane active" id="sceneEditorPanel">
				<div id="sceneEditor">
				</div>
				<div id="properties">
					<div class="properties_header">Entity Properties</div>
					<div class="text-center">No entity selected</div>
				</div>
			</div>
		</div>
	</div>

	<script src="{{url_for('static', filename='lib/handlebars.min.js')}}"></script>
	<script src="{{url_for('static', filename='lib/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='lib/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='lib/ace/ace.js')}}"></script>
	<script src="{{url_for('static', filename='editor.js')}}"></script>

	{% include 'engine.html' %}
	{% for com in components %}
		<script>
			{{com|safe}}
		</script>
	{% endfor %}
	<script type="application/json" id="gamedata">
		{{gamedata|safe}}
	</script>
	<script type="application/json" id="repotree">
		{{tree|safe}}
	</script>

	<script type="text/html" id="scriptnav_template">
		{% raw %}
		<li role="presentation" data-filename="{{filename}}" class="active">
			<a data-target="#{{id}}" aria-controls="phys" role="tab" data-toggle="tab">Script: {{filename}}
				<button type="button" class="btn btn-link btn-xs closebutton actions" >
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</a>
		</li>
		{% endraw %}
	</script>

	<script type="text/html" id="scriptpanel_template">
		{% raw %}
		<div role="tabpanel" class="relative tab-pane active" id="{{id}}" data-filename="{{filename}}"></div>
		{% endraw %}
	</script>

	<script type="text/html" id="explorer_template">
		{% raw %}
		<ul class="expl">
			{{#each scenes}}
			<li class="exp_scene" data-type="scene" data-id="{{@key}}">
				<button type="button" class="btn btn-link btn-xs listtoggle"><span class="glyphicon glyphicon-folder-open"></span></button>
				<span class="glyphicon glyphicon-picture"></span>
				{{@key}}
				<button type="button" class="btn btn-link btn-xs actions" data-action="delete" data-toggle="tooltip" data-placement="bottom" title="Delete">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
				<button type="button" class="btn btn-link btn-xs actions" data-action="duplicate" data-toggle="tooltip" data-placement="bottom" title="Duplicate">
					<span class="glyphicon glyphicon-duplicate"></span>
				</button>
				<button type="button" class="btn btn-link btn-xs actions" data-action="add" data-toggle="tooltip" data-placement="bottom" title="New Entity">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
				<ul class="expl">
					{{#each entities}}
					<li class="exp_entity" data-type="entity" data-scene="{{@../key}}" data-id="{{@key}}">
						<button type="button" class="btn btn-link btn-xs listtoggle"><span class="glyphicon glyphicon-folder-close"></span></button>
						<span class="glyphicon glyphicon-tree-deciduous"></span>
						{{@key}}
						<button type="button" class="btn btn-link btn-xs actions" data-action="delete" data-toggle="tooltip" data-placement="bottom" title="Delete">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
						<button type="button" class="btn btn-link btn-xs actions" data-action="duplicate" data-toggle="tooltip" data-placement="bottom" title="Duplicate">
							<span class="glyphicon glyphicon-duplicate"></span>
						</button>
						<button type="button" class="btn btn-link btn-xs actions" data-action="add" data-toggle="tooltip" data-placement="bottom" title="New Component">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
						
						<ul class="expl" style="display:none;">
							{{#each this}}
							<li class="exp_component" data-type="component" data-scene="{{@../../key}}" data-entity="{{@../key}}" data-id="{{@key}}">
								<span class="glyphicon glyphicon-file"></span>
								{{@key}} 
								<button type="button" class="btn btn-link btn-xs actions" data-action="delete" data-toggle="tooltip" data-placement="bottom" title="Delete">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</li>
							{{/each}}
						</ul>
					</li>
					{{/each}}
				</ul>
			</li>
			{{/each}}
		</ul>
		{% endraw %}
	</script>

	<script type="text/html" id="properties_template">
		{% raw %}
		<div class="properties_header">Entity Properties</div>
		{{#each this}}
		<div class="properties_component well" data-component="{{@key}}">
			<h4><button type="button" class="btn btn-link btn-xs proptoggle"><span class="glyphicon glyphicon-folder-open"></span></button> {{@key}}</h4>
			{{#each this}}
				<div class="form-group" data-component="{{@../key}}" data-property="{{@key}}" data-type="{{#isArray type}}list{{else}}{{type}}{{/isArray}}">
				<label>{{@key}}</label>
				{{#isArray type}}
					<select class="form-control">
						{{#each type}}
							{{#isEq this ../value}}
							<option value="{{this}}" selected>{{this}}</option>
							{{else}}
							<option value="{{this}}">{{this}}</option>
							{{/isEq}}
						{{/each}}
					</select>
				{{else}}
					{{#isEq type "text"}}
						<input type="text" class="form-control" value="{{value}}">
					{{/isEq}}
					{{#isEq type "bool"}}
						<input type="checkbox" class="form-control" {{#if value}}checked{{/if}}>
					{{/isEq}}
					{{#isEq type "number"}}
						<br />
						<input type="range" class="form-control" min="0" max="1000" step="0.01" value="{{value}}">
					{{/isEq}}
					{{#isEq type "scalar"}}
						<br />
						<input type="range" class="form-control" min="0" max="1" step="0.01" value="{{value}}">
					{{/isEq}}
					{{#isEq type "vector"}}
						<br />
						x: <input type="range" class="form-control" data-axis="x" min="-500" max="500" step="0.01" value="{{value.[0]}}">
						y: <input type="range" class="form-control" data-axis="y" min="-500" max="500" step="0.01" value="{{value.[1]}}">
						z: <input type="range" class="form-control" data-axis="z" min="-500" max="500" step="0.01" value="{{value.[2]}}">
					{{/isEq}}
					{{#isEq type "quaternion"}}
						<br />
						x: <input type="range" class="form-control" data-axis="x" min="-1" max="1" step="0.01" value="{{value.[0]}}">
						y: <input type="range" class="form-control" data-axis="y" min="-1" max="1" step="0.01" value="{{value.[1]}}">
						z: <input type="range" class="form-control" data-axis="z" min="-1" max="1" step="0.01" value="{{value.[2]}}">
						w: <input type="range" class="form-control" data-axis="w" min="-1" max="1" step="0.01" value="{{value.[3]}}">
					{{/isEq}}
					{{#isEq type "colour"}}
						<br />
						r: <input type="range" class="form-control" data-axis="r" min="0" max="255" step="1" value="{{value.[0]}}">
						g: <input type="range" class="form-control" data-axis="g" min="0" max="255" step="1" value="{{value.[1]}}">
						b: <input type="range" class="form-control" data-axis="b" min="0" max="255" step="1" value="{{value.[2]}}">
					{{/isEq}}
				{{/isArray}}
				</div>
			{{/each}}
		</div>
		{{/each}}
		<br />
		<br />
		<br />
		{% endraw %}
	</script>

	<script type="text/html" id="components_template">
		{% raw %}
			<ul class="expl">
				{{#each components}}
				<li data-type="script" data-id="{{@key}}">
					<span class="glyphicon glyphicon-file"></span> {{@key}}
					<button type="button" class="btn btn-link btn-xs actions" data-action="delete" data-toggle="tooltip" data-placement="bottom" title="Delete">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
					<button type="button" class="btn btn-link btn-xs actions" data-action="duplicate" data-toggle="tooltip" data-placement="bottom" title="Duplicate">
						<span class="glyphicon glyphicon-duplicate"></span>
					</button>
					<button type="button" class="btn btn-link btn-xs actions" data-action="edit" data-toggle="tooltip" data-placement="bottom" title="Edit">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</li>
				{{/each}}
			</ul>
		{% endraw %}
	</script>

	<script type="text/html" id="inputpopup_template">
		{% raw %}
			<div class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">{{title}}</h4>
						</div>
						<div class="modal-body">
							{{#each inputs}}
								<div class="form-group" data-property="{{@key}}">
									<label>{{@key}}</label>
									{{#isEq type "text"}}
										<input type="text" class="form-control" value="{{value}}">
									{{/isEq}}
									{{#isEq type "bool"}}
										<input type="checkbox" class="form-control" {{#if value}}checked{{/if}}>
									{{/isEq}}
								</div>
							{{/each}}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default cancel">Cancel</button>
							<button type="button" class="btn btn-primary okay">Okay</button>
						</div>
					</div>
				</div>
			</div>
		{% endraw %}
	</script>
	
	<script>
	    Editor.init();

		var gamejson, treejson;
		try {
			gamejson = JSON.parse(
				document.getElementById("gamedata").innerHTML
				);
			treejson = JSON.parse(
				document.getElementById("repotree").innerHTML
				);
		}
		catch (e) {
			console.log(e);
			console.log('Game data is corrupt');
		}

	    Editor.load(gamejson, treejson);
	    Editor.start();
	</script>
</body>