<script src="{{url_for('static', filename='lib/three.js')}}"></script>
<script src="{{url_for('static', filename='lib/ammo.js')}}"></script>
<script src="{{url_for('static', filename='engine/game.js')}}"></script>
<script src="{{url_for('static', filename='engine/scene.js')}}"></script>
<script src="{{url_for('static', filename='engine/entity.js')}}"></script>
<script src="{{url_for('static', filename='engine/components.js')}}"></script>
<script src="{{url_for('static', filename='engine/components/physics.js')}}"></script>
<script src="{{url_for('static', filename='engine/components/transform.js')}}"></script>
<script src="{{url_for('static', filename='engine/components/light.js')}}"></script>
<script src="{{url_for('static', filename='engine/components/camera.js')}}"></script>
<script src="{{url_for('static', filename='engine/components/mesh.js')}}"></script>
<script src="{{url_for('static', filename='engine/components/flycontroller.js')}}"></script>
<script src="{{url_for('static', filename='engine/components/fpscontroller.js')}}"></script>