{% set page='index' %}
{% extends 'base.html' %}
{% block content %}
	<div class="jumbotron">
		<img src="http://i.imgur.com/6xKhSxZ.png" class="img-responsive" /><br />
		FYP is a browser-based Unity-like game engine and editor designed to provide hobbyist game developers with the ability to <strong>create</strong>, <strong>publish</strong> and <strong>play</strong> games all <u>inside their browser</u>.
	</div>
	<div class="page-header">
		<h1>Published Games <small>Latest</small></h1>
	</div>

	<div class="container">
		<div style="display: inline-block;">
			<img src="http://i.imgur.com/9JMCkF1.png" />
			<br />
			Car game 1
		</div>
		<div style="display: inline-block;">
			<img src="http://i.imgur.com/9JMCkF1.png" />
			<br />
			Car game 2
		</div>
		<div style="display: inline-block;">
			<img src="http://i.imgur.com/9JMCkF1.png" />
			<br />
			Car game 3
		</div>
		<div style="display: inline-block;">
			<img src="http://i.imgur.com/9JMCkF1.png" />
			<br />
			Car game 4
		</div>
		<div style="display: inline-block;">
			<img src="http://i.imgur.com/9JMCkF1.png" />
			<br />
			Car game 5
		</div>
	</div>

	<div class="page-header">
		<h1>Published Games <small>Top Rated</small></h1>
	</div>

	<div class="container">
		<div class="gameicon">
			<img src="http://i.imgur.com/9JMCkF1.png" />
			<br />
			Car game 1
		</div>
		<div class="gameicon">
			<img src="http://i.imgur.com/9JMCkF1.png" />
			<br />
			Car game 2
		</div>
		<div class="gameicon">
			<img src="http://i.imgur.com/9JMCkF1.png" />
			<br />
			Car game 3
		</div>
		<div class="gameicon">
			<img src="http://i.imgur.com/9JMCkF1.png" />
			<br />
			Car game 4
		</div>
		<div class="gameicon">
			<img src="http://i.imgur.com/9JMCkF1.png" />
			<br />
			Car game 5
		</div>
	</div>
{% endblock %}
